<!-- page content -->
        <div class="right_col" role="main">
			<h2>{{text}}</h2>
			<h1>Thêm sản phẩm</h1>
				<form action="/addproduct" method="post">
					<h2>Tên sản phẩm: &nbsp;&nbsp;<input type="text" tabindex="2" required name="name" autocomplete="off"></h2>
					<h2>hãng: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="label">
							<optgroup label="Chọn hãng">
							  <option name="table1" value="Samsung">Samsung</option>
							  <option name="table2" value="Apple">Apple</option>
							  <option name="table3" value="Sony">Sony</option>
							  <option name="table4" value="HTC">HTC</option>
							  <option name="table5" value="Oppo">Oppo</option>
							  <option name="table6" value="LG">LG</option>
							  <option name="table7" value="Asus">Asus</option>
							  <option name="table8" value="Lenovo">Lenovo</option>
							</optgroup>
						</select>
					</h2>
					<h2>Giá: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text" tabindex="2" required name="price" autocomplete="off">
					</h2> 
					<h2>Cấu hình: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text" tabindex="2" required name="config" autocomplete="off">
					</h2> 
					<h2>URL image: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text" tabindex="2" required name="img" autocomplete="off">
					</h2>
					<input type="submit" value="Thêm">
				</form>
        </div>
        <!-- /page content -->