<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>CHECKOUT</h2>
			</div>
			<div class="ckeckout-top">
			<div class="cart-items">
			 <h3>My Shopping Bag </h3>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			<script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
						$('.cart-header1').fadeOut('slow', function(c){
							$('.cart-header1').remove();
						});
						});	  
					});
			   </script>
			   <script>$(document).ready(function(c) {
					$('.close3').on('click', function(c){
						$('.cart-header2').fadeOut('slow', function(c){
							$('.cart-header2').remove();
						});
						});	  
					});
			   </script>
				
			<div class="in-check" >
				<ul class="unit">
					
					<li><span>Product Name</span></li>							
					
					<li> </li>
					<div class="clearfix"> </div>
				</ul>
				
				{{#each spcart}}	
				
				<ul class="cart-header">
					<div class="close1"> </div>						
						<li><span class="name"> {{Product}}</span></li>
					<div class="clearfix"> </div>
				</ul>
					
				{{/each}}
				
			</div>
			</div>  
		 </div>
		</div>
	</div>
	<!--end-ckeckout-->