<!--contact-start-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>CONTACT</h2>
			</div>
				<div class="contact-text">
					<div class="col-md-3 contact-left">
					</div>
					
					<div class="col-md-3 contact-left">
						<div class="address">
							<h5>Lê Hữu Hậu</h5>
							<p>MSSV: 1412155 
							<span>Email: lehuuhau95@gmail.com</span>
							SĐT: 01674237587</p>
						</div>
					</div>
					
					<div class="col-md-3 contact-left">
						<div class="address">
							<h5>Nguyễn Ngọc Hậu</h5>
							<p>MSSV: 1412156
							<span>Email: nguyenhau0596@gmail.com</span>
							SĐT: 01246148885</p>
						</div>
					</div>
		</div>
	</div>
	<!--contact-end-->
	<!--map-start-->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.634266542818!2d106.6798381148569!3d10.762644362390827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRQSENN!5e0!3m2!1svi!2sin!4v1498636491543" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<!--map-end-->