<!-- page content -->
        <div class="right_col" role="main">
			<h2>{{text}}</h2>
			<h1>Xóa tái khoản người dùng</h1>
				<form action="/deleteaccount" method="post">
					<h2>Chọn username: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="username">
							<optgroup label="Chọn username">
								{{#each mang}}
									<option name="" value="{{this.username}}">{{this.username}}</option>
								{{/each}}
							</optgroup>
						</select>
					</h2>
					<input type="submit" value="Xóa">
				</form>
        </div>
        <!-- /page content -->