	<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="http://sv1.upsieutoc.com/2017/06/26/image-techz-1465094895.jpg7.jpg" alt=""/>
				</li>
				<li>
					<img src="http://sv1.upsieutoc.com/2017/06/26/galaxy-s7-edge-s8.jpgquality98stripall.jpg" alt=""/>
				</li>
				<li>
					<img src="http://sv1.upsieutoc.com/2017/06/26/maxresdefault.jpg" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
			    auto: true,
			    pager: true,
			    nav: true,
			    speed: 500,
			    namespace: "callbacks",
			    before: function () {
					$('.events').append("<li>before event fired.</li>");
			    },
			    after: function () {
					$('.events').append("<li>after event fired.</li>");
			    }
			});
			
		});
	</script>
	<!--End-slider-script-->
	<!--about-starts-->
	<div class="about"> 
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-4 about-left">
					<a href="/product_detail?id={{sp.name}}" id="{{sp.name}}" class="mask">
						<figure class="effect-bubba">						
							<img class="img-responsive" src="{{sp.img}}" alt=""/>
							<figcaption>
								<h2>{{sp.name}}</h2>
								<p>{{sp.price}}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				<div class="col-md-4 about-left">
					<a href="/product_detail?id={{sp2.name}}" id="{{sp2.name}}" class="mask">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{sp2.img}}" alt=""/>
							<figcaption>
								<h4>{{sp2.name}}</h4>
								<p>{{sp2.price}}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				<div class="col-md-4 about-left">
					<a href="/product_detail?id={{sp3.name}}" id="{{sp3.name}}" class="mask">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{sp3.img}}" alt=""/>
							<figcaption>
								<h4>{{sp3.name}}</h4>
								<p>{{sp3.price}}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-end-->
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{sp4.name}}" id="{{sp4.name}}" class="mask"><img class="img-responsive zoom-img" src="{{sp4.img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{sp4.name}}</h3>
								<p>{{sp4.label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{sp4.price}}</span></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{sp5.name}}" id="{{sp5.name}}" class="mask"><img class="img-responsive zoom-img" src="{{sp5.img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{sp5.name}}</h3>
								<p>{{sp5.label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{sp5.price}}</span></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{sp6.name}}" id="{{sp6.name}}" class="mask"><img class="img-responsive zoom-img" src="{{sp6.img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{sp6.name}}</h3>
								<p>{{sp6.label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{sp6.price}}</span></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{sp7.name}}" id="{{sp7.name}}" class="mask"><img class="img-responsive zoom-img" src="{{sp7.img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{sp7.name}}</h3>
								<p>{{sp7.label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{sp7.price}}</span></h4>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{sp8.name}}" id="{{sp8.name}}" class="mask"><img class="img-responsive zoom-img" src="{{sp8.img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{sp8.name}}</h3>
								<p>{{sp8.label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{sp8.price}}</span></h4>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>					
			</div>
		</div>
	</div>
	<!--product-end-->