<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HomepageAdmin</title>

	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--start-menu-->
<script src="js/simpleCart.min.js"> </script>
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="js/jquery.easydropdown.js"></script>		
	<!-- Bootstrap của layout.hbs -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/stylesheets/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/stylesheets/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="/stylesheets/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/stylesheets/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/stylesheets/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/stylesheets/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{user.Image}}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{user.Firstname}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Quản lý</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Tài khoản người dùng <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/adminregister">Thêm</a></li>
                      <li><a href="/updateaccount">Cập nhật</a></li>
                      <li><a href="/deleteaccount">Xóa</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Hệ thống gian hàng <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">Thêm</a></li>
                      <li><a href="form_advanced.html">Cập nhật</a></li>
                      <li><a href="form_validation.html">Xóa</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/addproduct">Thêm</a></li>
                      <li><a href="/update">Cập nhật</a></li>
                      <li><a href="/delete">Xóa</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Đơn đặt hàng <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="general_elements.html">Đã giao</a></li>
                      <li><a href="media_gallery.html">Chưa giao</a></li>
                      <li><a href="typography.html">Đang giao</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Thống kê doanh số <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Theo tháng</a></li>
                      <li><a href="chartjs2.html">Theo năm</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Top 10<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Sản phẩm</a></li>
                      <li><a href="fixed_footer.html">Gian hàng</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.Image}}" alt="">{{user.Firstname}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/profile"> Thông tin cá nhân</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất </a></li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {{{body}}}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- gauge.js -->
    <script src="/javascripts/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/javascripts/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/javascripts/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/javascripts/skycons.js"></script>
    <!-- Flot -->
    <script src="/javascripts/jquery.flot.js"></script>
    <script src="/javascripts/jquery.flot.pie.js"></script>
    <script src="/javascripts/jquery.flot.time.js"></script>
    <script src="/javascripts/jquery.flot.stack.js"></script>
    <script src="/javascripts/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/javascripts/jquery.flot.orderBars.js"></script>
    <script src="/javascripts/jquery.flot.spline.min.js"></script>
    <script src="/javascripts/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/javascripts/date.js"></script>
    <!-- JQVMap -->
    <script src="/javascripts/jquery.vmap.js"></script>
    <script src="/javascripts/jquery.vmap.world.js"></script>
    <script src="/javascripts/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/javascripts/custom.min.js"></script>
	
  </body>
</html>
