	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Account</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--account-starts-->
	<div class="account">
		<div class="container">
		<div class="account-top heading">
				<h2>ACCOUNT</h2>
			</div>
			<div class="account-main">
				<div class="col-md-6 account-left">
					<h3>Existing User</h3>
					<form action="/login" method="post">
						<div class="account-bottom">
							<input placeholder="Username" type="text" tabindex="3" name="username" autocomplete="off" required pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="Password" type="password" tabindex="4" name="password" autocomplete="off" required pattern="[A-Za-z0-9]{5,20}">
							<div class="address">
								<a class="forgot" href="#">Forgot Your Password?</a>
								<input type="submit" value="Login">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6 account-right account-left">
					<h3>New User? Create an Account</h3>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
					<a href="register.html">Create an Account</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--account-end-->