	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Register</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>Change password</h2>
			</div>
			<form action="/register" method="post">
				<div class="register-main">
					<div class="col-md-6 account-left">
							<input placeholder="Username" type="hidden" tabindex="3" required name="username" autocomplete="off" pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="Password" type="password" tabindex="4" required name="password" autocomplete="off" maxlength="20" pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="Retype Password" type="password" tabindex="4" required name="repass" autocomplete="off" maxlength="20" pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="New Password" type="password" tabindex="4" required name="newpass" autocomplete="off" maxlength="20" pattern="[A-Za-z0-9]{5,20}">
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->