<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">	
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="images/s-1.jpg">
									<div class="thumb-image"> <img src="{{sp.img}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								
							  </ul>
						</div>
						
					</div>	
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
							<h2>{{sp.name}}</h2>
							
							<h5 class="item_price">{{sp.price}}</h5>
							<p>{{sp.config}}</p>
							
							<input type ="submit"  id ="add_card" class="add-cart item_add" type ="submit" value="ADD TO CART"> 
							
							
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
				<h1> Comments </h1>				
				
				<div class ="list_comment">					
					{{#each cmt}}							
					<h3> {{Username}} </h3>
					<h5>  {{Comment}} </h5>					
					{{/each}}
				</div>

				<textarea id ="idtemp" style= "visibility: hidden;">{{{idtemp}}}</textarea>
				
				<div>			
				<h4> Your name : </h4>
						{{#if user}}
							<textarea rows="1" cols="100" id ="comment_post_username"> {{user.Firstname}}</textarea> <br>
						{{else}}
							<textarea rows="4" cols="100" id ="comment_post_username">  </textarea> <br>
						{{/if}}
				<h4> Your comment : </h4>	
					<textarea  rows="4" cols="100" id ="comment_post_text">  </textarea> <br>
					<input id ="comment_post_btn" type ="submit" value="Send"> 
				</div>
				
			</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-single-->
	
	
	
	
	
	<!--product-starts-->
	<div class="product"> 
	<div class="account-top heading">
				<h2>Related products</h2>
			</div>
		<div class="container">
			<div class="product-top">
			{{#each related}}
				<div class="product-one">
				
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/product_detail?id={{name}}" id="{{name}}" class="mask"><img class="img-responsive zoom-img" src="{{img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{name}}</h3>
								<p>{{label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{price}}</span></h4>
							</div>
						</div>
					</div>
					
						
				
				</div>
			{{/each}}
			</div>
		</div>
	</div>
	<!--product-end-->