

<!-- page content -->
        <div class="right_col" role="main">  
			<h1>Thông tin cá nhân</h1>
				<form action="/profile" method="post">
					<h2>Firstname: &nbsp;&nbsp;<input value="{{user.Firstname}}" type="text" tabindex="2" required name="Firstname" autocomplete="off"></h2>
					<h2>Lastname: &nbsp;&nbsp;<input value="{{user.Lastname}}" type="text" tabindex="2" required name="Lastname" autocomplete="off"></h2>
					<h2>Phone: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{user.Phone}}" type="text" tabindex="2" required name="Phone" autocomplete="off"></h2> 
					<h2>Gender: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{user.Gender}}" type="text" tabindex="2" required name="Gender" autocomplete="off"></h2> 
					<h2>URL image: <input value="{{user.Image}}" type="text" tabindex="2" required name="img" autocomplete="off"></h2>
				<input type="submit" value="Update">
				</form>
        </div>

<!-- /page content -->