

<!-- page content -->
        <div class="right_col" role="main">  
			<h1>{{text}}</h1>
			<h1>Thông tin tài khoản của &nbsp;{{us.username}}</h1>
				<form action="/profileuser2" method="post">
					<h2><input value="{{us.username}}" type="hidden" tabindex="2" required name="username" autocomplete="off"></h2>
					<h2>Firstname: &nbsp;&nbsp;<input value="{{us.Firstname}}" type="text" tabindex="2" required name="Firstname" autocomplete="off"></h2>
					<h2>Lastname: &nbsp;&nbsp;<input value="{{us.Lastname}}" type="text" tabindex="2" required name="Lastname" autocomplete="off"></h2>
					<h2>Phone: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{us.Phone}}" type="text" tabindex="2" required name="Phone" autocomplete="off"></h2> 
					<h2>Gender: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{us.Gender}}" type="text" tabindex="2" required name="Gender" autocomplete="off"></h2> 
					<h2>URL image: <input value="{{us.Image}}" type="text" tabindex="2" required name="img" autocomplete="off" pattern="https?://.+"></h2>
				<input type="submit" value="Update">
				</form>
        </div>

<!-- /page content -->