	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Register</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>REGISTER</h2>
			</div>
			<form action="/register" method="post">
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="First name" type="text" tabindex="1" required name="Firstname" autocomplete="off">
							<input placeholder="Last name" type="text" tabindex="2" required name="Lastname" autocomplete="off">
							<input placeholder="Username" type="text" tabindex="3" required name="username" autocomplete="off" pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="Mobile" type="text" tabindex="3" required name="Phone" autocomplete="off">
							<ul>
								<li><label class="radio left"><input type="radio" name="radio" checked="" value="Male"><i></i>Male</label></li>
								<li><label class="radio"><input type="radio" name="radio" value="Female"><i></i>Female</label></li>
								<div class="clearfix"></div>
							</ul>
					</div>
					<div class="col-md-6 account-left">
						<input placeholder="Password" type="password" tabindex="4" required name="password" autocomplete="off" maxlength="20" pattern="[A-Za-z0-9]{5,20}">
							<input placeholder="URL image" type="text" tabindex="4" required name="img" autocomplete="off" pattern="https?://.+">
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->