
	<!--account-starts-->
	<div class="account">
		<div class="container">
		<div class="account-top heading">
				<h2>SEARCH PRODUCTS</h2>
			</div>
			<div class="account-main">
				<div class="col-md-6 account-left">
					<h3>Add keyword</h3>
					<form action="/search" method="post">
						<div class="account-bottom">
							<input placeholder="Name" type="text" tabindex="3" name="keyword" autocomplete="off" required>							
							<br>
							<br>
							
							<input id="checkBox" type="checkbox" name ="checksearch">
							<a> Use advanced search </a>
							<h3>Advanced search</h3>						
							<br>
							<a> Brand </a>
							<select name = "label_selected"  tabindex="3">							
								<option></option>
								<option>Samsung</option>
								<option>Apple</option>
								<option>Sony</option>
								<option>HTC</option>
								<option>LG</option>
								<option>Oppo</option>
								<option>Lenovo</option>
								<option>Asus</option>
							</select>
							<br>
							
							<div class="address">								
								<input type="submit" value="Search">
							</div>
						</div>
					</form>
				</div>			
				<div class="clearfix"></div>
			</div>		
		</div>
	</div>
	<!--account-end-->
	
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
			{{#each sp}}
				<div class="product-one">
				
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="{{img}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{name}}</h3>
								<p>{{label}}</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{price}}</span></h4>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
	<!--product-end-->