<!-- page content -->
        <div class="right_col" role="main">
			<h2>{{text}}</h2>
			<h1>Cập nhật sản phẩm &nbsp;{{sp.name}}</h1>
				<form action="/updatedetail" method="post">
					<h2><input value="{{sp.name}}" type="hidden" tabindex="2" required name="name" autocomplete="off"></h2>
					<h2>hãng: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input value="{{sp.label}}" type="text" tabindex="2" required name="label" autocomplete="off">
					</h2>
					<h2>Giá: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input value="{{sp.price}}" type="text" tabindex="2" required name="price" autocomplete="off">
					</h2> 
					<h2>Cấu hình: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input value="{{sp.config}}" type="text" tabindex="2" required name="config" autocomplete="off">
					</h2> 
					<h2>URL image: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input value="{{sp.img}}" type="text" tabindex="2" required name="img" autocomplete="off">
					</h2>
					<input type="submit" value="Update">
				</form>
        </div>
        <!-- /page content -->