<!-- page content -->
        <div class="right_col" role="main">
			<h1>Cập nhật sản phẩm</h1>
				<form action="/update" method="post">
					<h2>Chọn sản phẩm: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="name">
							<optgroup label="Chọn sản phẩm">
								{{#each mang}}
									<option name="" value="{{this.name}}">{{this.name}}</option>
								{{/each}}
							</optgroup>
						</select>
					</h2>
					<input type="submit" value="Chọn">
				</form>
        </div>
        <!-- /page content -->