<!-- page content -->
        <div class="right_col" role="main">
			<h1>Cập nhật tài khoản người dùng</h1>
				<form action="/updateaccount" method="post">
					<h2>Chọn username: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="username">
							<optgroup label="Chọn username">
								{{#each mang}}
									<option name="" value="{{this.username}}">{{this.username}}</option>
								{{/each}}
							</optgroup>
						</select>
					</h2>
					<input type="submit" value="Chọn">
				</form>
        </div>
        <!-- /page content -->